/* ==========================================================================
   MIXINS
   ========================================================================== */
@mixin centered($width, $height) {
	position: absolute;
	left: 50%;
	margin-left: -($width/2);
	width: $width;
	top: 50%;
	margin-top: -($height/2);
	height: $height;
}